<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Авторизация</h1>
    <form id="login-form">
        <div class="mb-3">
            <label for="username">Логин</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
    <div id="error" class="text-danger mt-3"></div>
</div>

<script>
 document.getElementById("login-form").addEventListener("submit", async function (event) {
    event.preventDefault();

    const formData = new FormData(event.target);
    const params = new URLSearchParams(formData);

    try {
        // Получаем токен
        const response = await fetch("/token/", {
            method: "POST",
            body: params
        });

        if (!response.ok) {
            const errorData = await response.json();
            document.getElementById("error").textContent = errorData.detail;
            return;
        }

        const data = await response.json();
        const token = data.access_token;
        localStorage.setItem("jwt", token);
        window.location.href = "/admin/";
        // Переход на страницу с токеном


    } catch (err) {
        console.error("Ошибка авторизации:", err);
        document.getElementById("error").textContent = "Ошибка авторизации";
    }
});

</script>
</body>
</html>
